# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env

# OS ve IDE dosyaları
.vscode/
.idea/
*.swp

# Git LFS için büyük dosyalar
*.mp4
*.mov
*.avi
*.zip
*.tar.gz
*.exe

public/
.vercel

# Firebase Admin SDK
src/config/firebase-admin-sdk.json
