@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "_Layout";
    ViewData["Title"] = "Diğer Kanallarımız";
    ViewData["HideFooter"] = true;
}

@section Styles {
    <link rel="stylesheet" href="~/css/Anasayfa.css">
    <link rel="stylesheet" href="~/css/channel.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            background-image: url('~/images/arka-plan-resmi.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .centered-text {
            text-align: center;
            margin-top: 50px;
            flex-grow: 1;
        }

        .large-title {
            font-size: 2.5em;
            font-weight: bold;
        }

        .small-text {
            font-size: 1.2em;
            color: #555;
        }

        .post-ad-container {
            position: relative;
            display: inline-block;
        }

        .free-tag {
            position: absolute;
            top: -10px;
            left: -10px;
            background-color: #007bff;
            color: white;
            font-size: 10px;
            font-weight: bold;
            padding: 3px 8px;
            border-radius: 4px;
            transform: rotate(-10deg);
            z-index: 1;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }

        .post-ad {
            display: inline-block;
            background-color: #ffffff;
            color: #007bff;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            border: 1px solid #007bff;
            transition: 0.3s ease;
        }

        .post-ad:hover {
            background-color: #007bff;
            color: white;
        }

        .coming-soon-tag {
            position: absolute;
            top: 20px;
            left: 55px;
            background-color: #007bff;
            color: white;
            font-size: 10px;
            font-weight: bold;
            padding: 3px 8px;
            border-radius: 4px;
            transform: none;
            z-index: 1;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }

        /* Pop-up arka plan */
        .reklam-popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1000;
            justify-content: center;
            align-items: center;
        }

        .reklam-popup-content {
            position: relative;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 80vw;
            max-height: 90vh;
            overflow: hidden;
        }

        .reklam-popup-content img {
            width: 50%;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        .reklam-close {
            position: absolute;
            top: 20px;
            right: 318px;
            font-size: 30px;
            cursor: pointer;
            background-color: red;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            color: white;
            text-align: center;
        }
    </style>
}

<!-- Pop-up Penceresi -->
<div id="login-popup" class="popup">
    <div class="popup-content">
        <button class="close-button" id="close-popup">&times;</button>
        <div class="left-section">
            <h2>Bireysel</h2>
            <a href="@Url.Action("Login", "Account")" class="button">Giriş Yap</a>
            <a href="@Url.Action("Register", "Account")" class="button">Üye Ol</a>
        </div>
        <div class="right-section">
            <h2>Kurumsal</h2>
            <a href="@Url.Action("Login","Account" )" class="button">Giriş Yap</a>
            <a href="@Url.Action("EstateRegister", "Account")" class="button">Üye Ol</a>
        </div>
    </div>
</div>

<h1>Sosyal Medya Hesaplarımız</h1>

<!-- YouTube Çerçevesi -->
<div class="frame">
    <a href="https://www.kisa.link/wmZoa" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.webp" alt="YouTube">
    </a>
    <div class="text">
        <h2>YouTube Kanalımızı Takip Edin</h2>
        <p>Kaçırmak istemeyeceğiniz özel içerikler için hemen <strong>YouTube kanalımıza abone olun</strong> ve en yeni videoları ilk siz izleyin!</p>
    </div>
</div>

<!-- Instagram Çerçevesi -->
<div class="frame">
    <a href="https://www.instagram.com/sevvalcom?igsh=ZThycHI4eXp1dHlw" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.webp" alt="Instagram">
    </a>
    <div class="text">
        <h2>Instagram Hesabımızı Keşfedin</h2>
        <p>En güzel anları ve özel içerikleri kaçırmayın! <strong>Instagram'da bizi takip edin</strong> ve topluluğumuza katılın!</p>
    </div>
</div>

<!-- Facebook Çerçevesi -->
<div class="frame">
    <a href="https://www.facebook.com/profile.php?id=61576226942639" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook">
    </a>
    <div class="text">
        <h2>Facebook Sayfamızı Ziyaret Edin</h2>
        <p>En yeni duyurularımız ve etkinliklerimiz için <strong>Facebook'ta bizi takip edin</strong> ve topluluğumuzun bir parçası olun!</p>
    </div>
</div>

<!-- TikTok Çerçevesi -->
<div class="frame">
    <a href="https://www.kisa.link/KWiFP" target="_blank">
        <img src="~/sablon/img/tiktok.webp" alt="TikTok">
    </a>
    <div class="text">
        <h2>TikTok Hesabımızı Takip Edin</h2>
        <p>En eğlenceli ve yaratıcı içerikler için <strong>TikTok'ta bizi takip edin</strong> ve eğlencenin bir parçası olun!</p>
    </div>
</div>

<!-- Google İşletme Çerçevesi -->
<div class="frame">
    <a href="https://www.google.com/search?q=%C5%9Eevval+Emlak" target="_blank">
        <img src="~/sablon/img/google.webp" alt="Google İşletme">
    </a>
    <div class="text">
        <h2>Google İşletme Profilimizi Ziyaret Edin</h2>
        <p>İşletmemiz hakkında daha fazla bilgi almak için <strong>Google İşletme Profilimize göz atın</strong> ve müşteri yorumlarımızı inceleyin!</p>
    </div>
</div>

@section Scripts {
    <script>
        // Giriş Yap butonuna tıklandığında pop-up penceresini aç
        var loginButton = document.getElementById('login-button');
        if (loginButton) {
            loginButton.addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('login-popup').style.display = 'flex';
            });
        }

        // Pop-up penceresinin dışında bir yere tıklandığında kapat
        document.getElementById('login-popup').addEventListener('click', function (event) {
            if (event.target === this) {
                this.style.display = 'none';
            }
        });

        // Kapatma butonuna tıklandığında pop-up penceresini kapat
        document.getElementById('close-popup').addEventListener('click', function () {
            document.getElementById('login-popup').style.display = 'none';
        });

        let popupTimeout;
        let closeTimeout;

        function showReklamPopup() {
            const reklamPopup = document.getElementById('reklamPopup');
            if (reklamPopup) {
                reklamPopup.style.display = 'flex';
            }
        }

        function closeReklamPopup() {
            const reklamPopup = document.getElementById('reklamPopup');
            if (reklamPopup) {
                reklamPopup.style.display = 'none';
                closeTimeout = setTimeout(() => {
                    showReklamPopup();
                }, 300000);
            }
        }

        window.addEventListener('load', function () {
            const randomTime = Math.floor(Math.random() * (30000 - 15000 + 1)) + 15000;
            popupTimeout = setTimeout(() => {
                showReklamPopup();
            }, randomTime);
        });

        var reklamPopup = document.getElementById('reklamPopup');
        if (reklamPopup) {
            reklamPopup.addEventListener('click', function (event) {
                if (event.target === this) {
                    closeReklamPopup();
                }
            });
        }
    </script>
}
