@model Sevval.Domain.Entities.IlanModel

@{
    Layout = null;
}

<!-- Stil Dosyası Bağlantısı -->
<link rel="stylesheet" href="~/css/ilandet.css" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgu_ri7xBqCBNn5WRgTcR2ADbvq0f1hK0&libraries=places"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="/">
        <img src="~/sablon/img/loogo.png" class="d-inline-block align-top" alt="Logo">
        <span>Şevval Emlak</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto"></ul>
        <span class="navbar-text">
            @if (User.Identity.IsAuthenticated)
            {
                @User.Identity.Name
            }
        </span>
    </div>
</nav>

<!-- İlan Verme Çerçevesi -->
<div class="container ilan-container mt-5 pt-5">
    <form asp-action="Konutilan" method="post">
        <!-- Yuvarlak Aşama Çizgileri -->
        <div class="step-container">
            <div class="step">
                <div class="step-circle active">1</div>
                <div class="step-description">Kategori Seçimi</div>
            </div>
            <div class="step">
                <div class="step-circle active">2</div>
                <div class="step-description">İlan Detayları</div>
            </div>
            <div class="step">
                <div class="step-circle inactive">3</div>
                <div class="step-description">Önizleme</div>
            </div>
            <div class="step">
                <div class="step-circle inactive">4</div>
                <div class="step-description">Tebrikler</div>
            </div>
        </div>
        <!-- Kategori Bilgisi Penceresi -->
        <div class="category-info">
            <p>Bağ</p>
        </div>

        <style>
            .category-info {
                border: 1px solid #ccc; /* Kenar çizgisi */
                padding: 10px; /* İçerik alanı */
                border-radius: 5px; /* Kenar yuvarlama */
                background-color: #f9f9f9; /* Arka plan rengi */
                width: fit-content; /* İçerik boyutuna göre genişlik */
                margin: 10px 0; /* Üst ve alt boşluk */
            }

                .category-info p {
                    margin: 0; /* Paragraf üst ve alt boşluklarını sıfırla */
                    font-size: 16px; /* Yazı boyutu */
                    font-weight: bold; /* Kalın yazı stili */
                }

            .text-danger {
                color: red; /* Hata mesajı rengi */
            }
        </style>

        <!-- Diğer İlan Detayları -->
        <div class="form-group">
            <label for="IlanBaslik">İlan Başlığı</label>
            <input type="text" id="Title" name="Title" class="form-control" maxlength="50" required />
        </div>

        <div class="form-group">
            <label for="IlanAciklama">Açıklama</label>
            <textarea id="Description" name="Description" class="form-control" rows="5" required></textarea>
        </div>

        <div class="form-group">
            <label for="Fiyat">Fiyat (₺):</label>
            <input type="text" id="Price" name="Price" class="form-control" oninput="formatPrice(this)" required />
            <div id="fiyatHata" class="text-danger" style="display: none;">Fiyat en az 1.000₺ olmalıdır.</div>
        </div>

        <div class="form-group">
            <label for="Metrekare">Arazi Metrekaresi:</label>
            <input type="number" id="Metrekare" name="Metrekare" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="AdaNo">Ada No:</label>
            <input type="number" id="AdaNo" name="AdaNo" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="ParselNo">Parsel No:</label>
            <input type="number" id="ParselNo" name="ParselNo" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="PaftaNo">Pafta No:</label>
            <input type="number" id="PaftaNo" name="PaftaNo" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Kaks">Kaks (Emsal):</label>
            <select id="Kaks" name="Kaks" class="form-control" required>
                <option value="">Seçiniz</option>
                <option value="0.05">0.05</option>
                <option value="0.10">0.10</option>
                <option value="0.15">0.15</option>
                <option value="0.20">0.20</option>
                <option value="0.24">0.24</option>
                <option value="0.25">0.25</option>
                <option value="0.30">0.30</option>
                <option value="0.35">0.35</option>
                <option value="0.40">0.40</option>
                <option value="0.45">0.45</option>
                <option value="0.50">0.50</option>
                <option value="0.60">0.60</option>
                <option value="0.70">0.70</option>
                <option value="0.75">0.75</option>
                <option value="0.80">0.80</option>
                <option value="0.90">0.90</option>
                <option value="0.95">0.95</option>
                <option value="1.0">1.0</option>
                <option value="1.50">1.50</option>
                <option value="1.55">1.55</option>
                <option value="1.60">1.60</option>
                <option value="1.75">1.75</option>
                <option value="1.80">1.80</option>
                <option value="1.90">1.90</option>
                <option value="2.0">2.0</option>
                <option value="2.07">2.07</option>
                <option value="2.10">2.10</option>
                <option value="2.15">2.15</option>
                <option value="2.30">2.30</option>
                <option value="2.40">2.40</option>
                <option value="2.50">2.50</option>
                <option value="2.80">2.80</option>
                <option value="3.0">3.0</option>
                <option value="3.20">3.20</option>
                <option value="3.30">3.30</option>
                <option value="5.0">5.0</option>
                <option value="10.20">10.20</option>
                <option value="15.30">15.30</option>
                <option value="Belirtilmemiş">Belirtilmemiş</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Gabari">Gabari:</label>
            <select id="Gabari" name="Gabari" class="form-control" required>
                <option value="">Seçiniz</option>
                <option value="3.50">3.50</option>
                <option value="6.50">6.50</option>
                <option value="7.50">7.50</option>
                <option value="8.50">8.50</option>
                <option value="9.50">9.50</option>
                <option value="11.50">11.50</option>
                <option value="12.50">12.50</option>
                <option value="14.50">14.50</option>
                <option value="15.50">15.50</option>
                <option value="18.50">18.50</option>
                <option value="21.50">21.50</option>
                <option value="24.50">24.50</option>
                <option value="27.50">27.50</option>
                <option value="30.50">30.50</option>
                <option value="36.00">36.00</option>
                <option value="Serbest">Serbest</option>
                <option value="Belirtilmemiş">Belirtilmemiş</option>
            </select>
        </div>

        <div class="form-group">
            <label for="KrediUygunluk">Krediye Uygunluk:</label>
            <select id="KrediUygunluk" name="KrediUygunluk" class="form-control" required>
                <option value="">Seçiniz</option>
                <option value="Evet">Evet</option>
                <option value="Hayır">Hayır</option>
                <option value="Bilinmiyor">Bilinmiyor</option>
            </select>
        </div>

        <div class="form-group">
            <label for="TakasaUygunluk">Takasa Uygunluk:</label>
            <select id="TakasaUygunluk" name="TakasaUygunluk" class="form-control" required>
                <option value="">Seçiniz</option>
                <option value="Uygun Değil">Uygun Değil</option>
                <option value="Araba İle Takas">Araba İle Takas</option>
                <option value="Arazi ile Takas">Arazi ile Takas</option>
                <option value="Araba + Arazi İle Takas">Araba + Arazi İle Takas</option>
                <option value="Yarısı Nakit Yarısı Araç/Arazi">Yarısı Nakit Yarısı Araç/Arazi</option>
            </select>
        </div>

        <div class="form-group">
            <label for="AraziNiteliği">Arazi Niteliği:</label>
            <select id="AraziNiteliği" name="AraziNiteliği" class="form-control" required>
                <option value="">Seçiniz</option>
                <option value="Ada">Ada</option>
                <option value="A-Lejantlı">A-Lejantlı</option>
                <option value="Arazi">Arazi</option>
                <option value="Bağ & Bahçe">Bağ & Bahçe</option>
                <option value="Depo & Antrepo">Depo & Antrepo</option>
                <option value="Eğitim">Eğitim</option>
                <option value="Enerji Depolama">Enerji Depolama</option>
                <option value="Konut">Konut</option>
                <option value="Muhtelif">Muhtelif</option>
                <option value="Özel Kullanım">Özel Kullanım</option>
                <option value="Sağlık">Sağlık</option>
                <option value="Sanayi">Sanayi</option>
                <option value="Sera">Sera</option>
                <option value="Sit Alanı">Sit Alanı</option>
                <option value="Spor Alanı">Spor Alanı</option>
                <option value="Tarla">Tarla</option>
                <option value="Ticari">Ticari</option>
                <option value="Ticari + Konut">Ticari + Konut</option>
                <option value="Toplu Konut">Toplu Konut</option>
                <option value="Turizm">Turizm</option>
                <option value="Turizm + Konut">Turizm + Konut</option>
                <option value="Turizm + Ticari">Turizm + Ticari</option>
                <option value="Villa">Villa</option>
                <option value="Zeytinlik">Zeytinlik</option>
            </select>
        </div>

        <!-- Tapu Durumu -->
        <div class="form-group">
            <label for="TapuDurumu">Tapu Durumu</label>
            <select id="TapuDurumu" name="TapuDurumu" class="form-control" required>
                <option value="">Seçiniz</option>
                <option value="KatMulkiyeti">Kat Mülkiyeti</option>
                <option value="KatIrtifaki">Kat İrtifakı</option>
                <option value="HisseliTapu">Hisseli Tapu</option>
                <option value="MüstakilTapu">Müstakil Tapu</option>
                <option value="ArsaTapusu">Arsa Tapusu</option>
                <option value="KooperatifHisseliTapu">Kooperatif Hisseli Tapu</option>
                <option value="YurtDisiTapusu">Yurt Dışı Tapusu</option>
                <option value="TapuKaydiYok">Tapu Kaydı Yok</option>
            </select>
        </div>

        <!-- Kimden -->
        <div class="form-group">
            <label for="Kimden">Kimden</label>
            <select id="Kimden" name="Kimden" class="form-control" required>
                <option value="">Seçiniz</option>
                <option value="EmlakOfisinden">Emlak Ofisinden</option>
                <option value="Sahibinden">Sahibinden</option>
            </select>
        </div>


        <div class="form-group">
            <label for="GayrimenkulSahibi">Gayrimenkul Sahibi</label>
            <select id="GayrimenkulSahibi" name="GayrimenkulSahibi" class="form-control" required>
                <option value="">Seçiniz</option>
                <option value="TC Vatandaşı">T.C Vatandaşı</option>
                <option value="TC Vatandaşı Değil">T.C Vatandaşı Değil</option>
            </select>
        </div>

        <div class="form-group">
            <label for="TasınmazNumarasi">Taşınmaz Numarası</label>
            <input type="text" id="TasınmazNumarasi" name="TasınmazNumarasi" class="form-control" required onkeypress="return isNumberKey(event)" maxlength="11" />
        </div>

        <div class="category-box">
            <div class="form-group">
                <label for="location-input">Konum Seçiniz:</label>
                <input type="text" id="location-input" name="konum" class="form-control" placeholder="İl, İlçe, Mahalle Seçin" required>
                <span class="error-message" id="locationInputError" style="color: red; display: none;">Lütfen bu alanı doldurunuz.</span>
                <div id="map" style="height: 300px; width: 100%; margin-top: 20px;"></div>
            </div>
        </div>




        <!-- Fotoğraf ve Video -->
        <div class="form-group">
            <label for="PhotoUpload">Fotoğraf Yükleyin (Max 35):</label>
            <input type="file" id="Photos" name="Photos" class="form-control" accept="image/*" multiple onchange="previewPhotos(this)">
            <div id="photoPreview" class="mt-2"></div>
        </div>

        <div class="form-group">
            <label for="VideoUpload">Video Yükleyin:</label>
            <input type="file" id="Videos" name="Videos" class="form-control" accept="video/*" onchange="previewVideo(this)">
            <div id="videoPreview" class="mt-2"></div>
        </div>

        <div class="form-group">
            <label for="VideoLink">YouTube Video Linki:</label>
            <input type="text" id="VideoLink" name="VideoLink" class="form-control" oninput="previewVideoLink(this)">
            <div id="videoLinkPreview" class="mt-2"></div>
        </div>

        <!-- CSS -->
        <style>
            .preview-container {
                position: relative;
                display: inline-block;
                margin: 5px;
            }

                .preview-container img {
                    width: 80px; /* Yeni boyut: 80px */
                    height: 80px; /* Yeni boyut: 80px */
                    object-fit: cover;
                    border: 1px solid #ccc; /* İsteğe bağlı: Çerçeve eklemek için */
                    border-radius: 4px; /* İsteğe bağlı: Kenarları yuvarlatmak için */
                }

            .delete-icon {
                position: absolute;
                top: 2px; /* Yukarıda biraz daha aşağı */
                right: 2px; /* Sağda biraz daha içe */
                cursor: pointer;
                color: red;
                font-weight: bold;
                background-color: white; /* İsteğe bağlı: Arka plan rengi */
                border-radius: 50%; /* İsteğe bağlı: Yuvarlak görünüm için */
                padding: 2px; /* İsteğe bağlı: Çarpının etrafında boşluk */
            }

            #videoPreview {
                position: relative;
                width: 100%;
                max-width: 300px; /* İstediğiniz maksimum genişlik */
                margin-top: 10px;
            }

            .video-container {
                position: relative;
                display: inline-block;
            }

                .video-container video {
                    width: 100%; /* Pencereye sığacak şekilde ayarlayın */
                    height: auto; /* Orantılı yüksekliği korusun */
                }

            .close-button {
                position: absolute;
                top: 5px;
                right: 5px;
                background-color: red;
                color: white;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                padding: 5px;
            }


        </style>

            <div class="form-group">
                <label for="TKGMParselLink">TKGM Parsel Sorgu Linki:</label>
                <input type="text" id="TKGMParselLink" name="TKGMParselLink" class="form-control" placeholder="TKGM parsel sorgu linkinizi girin">
            </div>

            <button type="submit" class="btn btn-primary">Kaydet ve Devam Et</button>
    </form>

</div>

<script>

    function previewPhotos(input) {
        const photoPreview = document.getElementById('photoPreview');
        photoPreview.innerHTML = ''; // Önizleme alanını temizle

        const files = Array.from(input.files).slice(0, 35); // En fazla 35 fotoğraf
        files.forEach((file) => {
            const reader = new FileReader();
            reader.onload = function (e) {
                const div = document.createElement('div');
                div.classList.add('preview-container');
                div.innerHTML = `
                    <img src="${e.target.result}" alt="Photo" />
                    <span class="delete-icon" onclick="removePhoto(this)">✖</span>
                `;
                photoPreview.appendChild(div);
            };
            reader.readAsDataURL(file);
        });
    }

    function removePhoto(element) {
        const photoPreview = document.getElementById('photoPreview');
        photoPreview.removeChild(element.parentElement);
    }

    function previewVideo(input) {
        const videoPreview = document.getElementById('videoPreview');
        videoPreview.innerHTML = ''; // Önceki önizlemeyi temizle

        if (input.files && input.files[0]) {
            const videoURL = URL.createObjectURL(input.files[0]);
            const videoContainer = document.createElement('div');
            videoContainer.classList.add('video-container');

            const videoElement = document.createElement('video');
            videoElement.src = videoURL;
            videoElement.controls = true; // Kontrol butonlarını ekler

            const closeButton = document.createElement('button');
            closeButton.classList.add('close-button');
            closeButton.innerHTML = '×'; // Çarpı işareti
            closeButton.onclick = function () {
                videoPreview.innerHTML = ''; // Video silindiğinde önizlemeyi temizle
                input.value = ''; // Dosya yükleme inputunu sıfırla
            };

            videoContainer.appendChild(videoElement);
            videoContainer.appendChild(closeButton);
            videoPreview.appendChild(videoContainer);
        }
    }

    function removeVideo(element) {
        const videoPreview = document.getElementById('videoPreview');
        videoPreview.innerHTML = ''; // Videoyu temizle
        document.getElementById('Videos').value = ''; // Dosya girdi değerini sıfırla
    }

    function previewVideoLink(input) {
        const videoLinkPreview = document.getElementById('videoLinkPreview');
        videoLinkPreview.innerHTML = ''; // Önizleme alanını temizle

        const link = input.value;
        if (link) {
            const embedUrl = link.replace('watch?v=', 'embed/'); // YouTube embed URL formatına dönüştürme
            videoLinkPreview.innerHTML = `
                <iframe width="200" height="113" src="${embedUrl}" frameborder="0" allowfullscreen></iframe>
            `;
        }
    }


    function toggleTakasOptions() {
        var takasCheckBox = document.getElementById("TakasaUygun");
        var takasOptions = document.getElementById("takasOptions");

        // Eğer "Takasa Uygun" kutucuğu işaretlendiyse seçenek kutucuğunu göster
        if (takasCheckBox.checked) {
            takasOptions.style.display = "block";
        } else {
            takasOptions.style.display = "none";
        }
    }

    let map;
    let marker;

    function initMap() {
        const defaultLocation = { lat: 41.0082, lng: 28.9784 }; // İstanbul, Türkiye
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 6,
            center: defaultLocation,
        });

        marker = new google.maps.Marker({
            position: defaultLocation,
            map: map,
            title: "Seçim Yapınız",
            draggable: true,
        });

        const input = document.getElementById("location-input");
        const autocomplete = new google.maps.places.Autocomplete(input, {
            componentRestrictions: { country: ['TR'] }, // Sadece Türkiye'deki lokasyonları göster
        });
        autocomplete.bindTo("bounds", map);

        autocomplete.addListener("place_changed", () => {
            const place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }

            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(15);
            }

            marker.setPosition(place.geometry.location);
            input.value = place.formatted_address; // Seçilen adresi inputa yaz
        });

        // Haritaya tıklama olayı ekleyin
        map.addListener("click", (event) => {
            const lat = event.latLng.lat();
            const lng = event.latLng.lng();
            const latLng = { lat, lng };

            marker.setPosition(latLng);
            map.setCenter(latLng);

            // Latitude ve Longitude'u inputa yaz
            input.value = lat + ", " + lng;
        });

        google.maps.event.addListener(marker, "dragend", (event) => {
            const lat = event.latLng.lat();
            const lng = event.latLng.lng();
            input.value = lat + ", " + lng;
        });
    }



    function checkMetrekare() {
        const brutMetrekare = parseFloat(document.getElementById('BrutMetrekare').value);
        const netMetrekare = parseFloat(document.getElementById('NetMetrekare').value);
        const metrekareHata = document.getElementById('metrekareHata');

        if (netMetrekare > brutMetrekare) {
            metrekareHata.style.display = 'block';
        } else {
            metrekareHata.style.display = 'none';
        }
    }

    function formatPrice(input) {
        let value = input.value.replace(/\D/g, "");
        if (value.length > 3) {
            value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }
        input.value = value;
    }

    function validateForm() {
        const priceInput = document.getElementById('Price');
        const priceValue = parseInt(priceInput.value.replace(/\./g, ""), 10);
        const fiyatHata = document.getElementById('fiyatHata');

        if (priceValue < 1000) {
            fiyatHata.style.display = 'block';
            return false; // Formu gönderme
        } else {
            fiyatHata.style.display = 'none';
        }

        return true; // Formu gönder
    }
</script>

<!-- Map'ı başlat -->
<script>
    google.maps.event.addDomListener(window, 'load', initMap);
</script>
