@model sevvalemlak.Models.ForgotPasswordViewModel

@{
    Layout = null; // Layout kullanılmıyor
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifrenizi Sıfırlayın</title>
    <link rel="stylesheet" href="~/css/modern-login.css" />
    <link rel="stylesheet" href="~/css/forgot-password.css" /> <!-- Yeni CSS dosyası -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery kütüphanesi -->
</head>
<body>
    <div class="login-container">
        <div class="form-section">
            <h2>Şifrenizi Sıfırlayın</h2>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="text-danger">@TempData["ErrorMessage"]</div>
            }

            <form asp-action="ForgotPassword" asp-controller="Account" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <input type="hidden" asp-for="Email" value="@Model.Email" class="form-control" />


                <div class="form-group">

                    <label asp-for="Code">Doğrulama Kodu</label>

                    <input asp-for="Code" class="form-control" maxlength="6" />

                    <span asp-validation-for="Code" class="text-danger"></span>

                </div>


                <div class="form-group" id="newPasswordSection">

                    <label asp-for="NewPassword">Yeni Şifre</label>

                    <input asp-for="NewPassword" class="form-control" type="password" />

                    <span asp-validation-for="NewPassword" class="text-danger"></span>

                </div>


                <button type="submit" class="btn btn-primary">Şifreyi Sıfırla</button>

            </form>


            <div class="footer">

                <p><a href="/Account/Login">Giriş Yapın</a></p>

            </div>

        </div>

    </div>




    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@4.0.0/dist/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>