<div class="drone-splash" id="drone-splash" aria-hidden="true">
    <img class="splash-logo" src="/ssh/images/sevval_logo.webp" alt="Sevval">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 6%; --size: 30px; --dur: 3.6s; --delay: 0s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 12%; --size: 24px; --dur: 4s; --delay: 0.15s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 18%; --size: 36px; --dur: 3.4s; --delay: 0.05s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 24%; --size: 28px; --dur: 4.2s; --delay: 0.22s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 30%; --size: 40px; --dur: 3.3s; --delay: 0.1s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 36%; --size: 26px; --dur: 4.4s; --delay: 0.3s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 42%; --size: 34px; --dur: 3.8s; --delay: 0.18s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 48%; --size: 22px; --dur: 4.6s; --delay: 0.35s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 54%; --size: 38px; --dur: 3.5s; --delay: 0.08s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 60%; --size: 26px; --dur: 4.1s; --delay: 0.24s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 66%; --size: 32px; --dur: 3.7s; --delay: 0.12s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 72%; --size: 24px; --dur: 4.5s; --delay: 0.28s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 78%; --size: 36px; --dur: 3.2s; --delay: 0.06s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 84%; --size: 28px; --dur: 4.3s; --delay: 0.2s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 90%; --size: 34px; --dur: 3.9s; --delay: 0.16s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 22%; --size: 22px; --dur: 4.7s; --delay: 0.4s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 50%; --size: 30px; --dur: 3.6s; --delay: 0.02s;">
    <img class="drone" src="~/assets/drone.svg" alt="" style="--x: 74%; --size: 20px; --dur: 4.8s; --delay: 0.32s;">
</div>
