/* Temel stil ayarları */
body {
    background-color: #f5f6fa; /* Arka plan rengi */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-section {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 24px;
    color: #333;
}

.text-danger {
    color: #e74c3c;
    font-size: 14px;
}

.footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
    color: #777;
}

    .footer a {
        color: #3498db;
        text-decoration: none;
    }

        .footer a:hover {
            text-decoration: underline;
        }

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #2980b9;
    }
