/* Paneli kapsayan div */
.total-visitors-container {
    overflow-x: auto; /* Sağa sola kaydırılabilirlik sağla */
    white-space: nowrap; /* Panelin satır kaydırmasını engelle */
    padding: 10px; /* Kapsayıcıya hafif padding */
}

/* Aktif ziyaretçi paneli */
.total-visitors-panel {
    background-color: #007bff; /* Mavi arka plan */
    color: rgba(255, 255, 255, 0.9); /* Beyaz yazı rengi (RGBA kullanarak) */
    padding: 20px; /* Daha fazla iç boşluk */
    border-radius: 25px; /* Oval köşeler */
    width: 450px; /* Varsayılan genişlik (boyut ayarlama yapılabilir) */
    min-width: 250px; /* Minimum genişlik */
    max-width: 400px; /* Maksimum genişlik */
    margin: 25px auto; /* Ortaya hizalama */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
    text-align: center; /* Metni ortala */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Daha belirgin gölge efekti */
    transition: transform 0.3s, box-shadow 0.3s; /* Geçiş efekti */
    display: inline-block; /* Kapsayıcı içinde sola/sağa kaydırılabilir yap */
}

    .total-visitors-panel:hover {
        transform: scale(1.05); /* Hover etkisi: hafif büyütme */
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Hover etkisi: gölgeyi artır */
    }

    .total-visitors-panel h3 {
        margin: 0; /* Varsayılan margin'i sıfırla */
        font-size: 1.5em; /* Daha büyük yazı boyutu */
        font-weight: 600; /* Daha kalın yazı */
        color: rgba(255, 255, 255, 0.9); /* Beyaz yazı */
    }

/* Medya Sorguları ile Responsive Tasarım */

/* 400px ve altındaki ekranlar için */
@media (max-width: 400px) {
    .total-visitors-panel {
        width: 85%; /* Genişliği %90 yap */
        padding: 15px; /* Padding'i azalt */
        font-size: 1.0em; /* Yazı boyutunu azalt */
        transform: scale(0.8); /* Boyutu %80 oranında küçült */
    }
}

/* 616px ve altındaki ekranlar için */
@media (max-width: 616px) {
    .total-visitors-panel {
        width: 85%; /* Genişliği %90 yap */
        padding: 15px; /* Padding'i azalt */
        font-size: 1.0em; /* Yazı boyutunu azalt */
        transform: scale(0.7); /* Boyutu %85 oranında küçült */
    }
}

/* 768px ve altındaki ekranlar için */
@media (max-width: 768px) {
    .total-visitors-panel {
        width: 85%; /* Genişliği %80 yap */
        padding: 9px; /* Normal padding */
        font-size: 1.0em; /* Yazı boyutunu biraz büyüt */
        transform: scale(0.7); /* Boyutu %90 oranında küçült */
    }
}
